Task 1ðŸ˜‡

WAP to print the first n elements of fibbonacci series, store it in a list. n is the input from user.

Sample input:9

Sample output:[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
a = int(input())
x = 0
y = 1
c = [0]
for i in range(a-1):
  z = x + y
  y = x
  x = z
  c.append(x)
print(c)

9
[0, 1, 1, 2, 3, 5, 8, 13, 21]

Task 2.1

WAP to print the below pattern in output

In [ ]:
for i in range(6) :
  for j in range(i) :
    print("*" , end = "")
  print()

*
**
***
****
*****

Task 2.2

WAP to print the below pattern in output

In [ ]:
for i in range(5):
  for j in range(5):
    if j >= i:
      print("*",end="")
  print()

*****
****
***
**
*

Task 3

WAP to prompt user to input a number, and print the number in a those many number of lines starting from 1number in first lines, next 2 numbers in 2nd line and so on.

Example

Sample input:5

Sample output:1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [ ]:
k = 1
n = int(input())
for i in range(n+1):
  k = k
  for j in range(i):
    print(k,end = " ")
    k = k + 1
  print()

5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15