Task 1

WAP to print all the single digit numbers

In [ ]:
for i in range(0,10):
 print(i)

0
1
2
3
4
5
6
7
8
9

Task 2

WAP to write all the even numbers between 1 and 20

In [ ]:
for i in range(1,21):
  if i%2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

Task 3

WAP to prompt user to enter their name, print all letters of the name.

In [ ]:
Name = input("Enter your name :")
for i in Name:
  print(i)

Enter your name :Emma
E
m
m
a

Task 4

WAP to calculate the factorial of a number entered by user, using for loop

In [ ]:
num = int(input())
factorial = 1
for i in range(1,num+1):
   factorial = factorial *i
print(factorial)

5
120


Task 5

WAP to print the sum of all numbers from 10 to 99

In [ ]:
sum = 0
for i in range(10,100):
 sum = sum + i

print(sum)

4905

Task 6

WAP to print the letters of the string and their index position

In [ ]:
sent1 =input()
n = zip(range(len(sent1)),sent1)
for i,j in n:
  print(f"({i}, '{j}')")

Odinschool
(0, 'O')
(1, 'd')
(2, 'i')
(3, 'n')
(4, 's')
(5, 'c')
(6, 'h')
(7, 'o')
(8, 'o')
(9, 'l')

Task 7

WAP to aggregate the below 2 lists, and create a restaurant menu

items=['Juice','Salad','Sandwich','Paratha','Idli Sambar','Dosa','Misal Pav']

price=[100,150,80,180,90,120,50]

In [ ]:
items = ['Juice','Salad','Sandwich','Paratha','Idli Sambar','Dosa','Misal Pav']
price = [100,150,80,180,90,120,50]

my_dict = {}
for i in range(len(items)):
    my_dict[items[i]] = price[i]

print(my_dict)

{'Juice': 100, 'Salad': 150, 'Sandwich': 80, 'Paratha': 180, 'Idli Sambar': 90, 'Dosa': 120, 'Misal Pav': 50}

In [ ]:
items = ['Juice', 'Salad', 'Sandwich', 'Paratha', 'Idli Sambar', 'Dosa', 'Misal Pav']
prices = [100, 150, 80, 180, 90, 120, 50]

#print("Restaurant Menu")
#print("----------------")

# Use zip() to iterate over both lists simultaneously
for item, price in zip(items, prices):
    print(f"({item}, ₹{price})")  # Formatted output

(Juice, ₹100)
(Salad, ₹150)
(Sandwich, ₹80)
(Paratha, ₹180)
(Idli Sambar, ₹90)
(Dosa, ₹120)
(Misal Pav, ₹50)

Task 8

Max Score: 5
WAP to print the multiplication table of 1-5 as below format

In [ ]:
for i in range(1,6):
 print(f"{i*1}",end=" ")
print()
for i in range(1,6):
 print(f"{i*2}",end=" ")
print()
for i in range(1,6):
 print(f"{i*3}",end=" ")
print()
for i in range(1,6):
 print(f"{i*4}",end=" ")
print()
for i in range(1,6):
 print(f"{i*5}",end=" ")
print()
for i in range(1,6):
 print(f"{i*6}",end=" ")
print()
for i in range(1,6):
 print(f"{i*7}",end=" ")
print()
for i in range(1,6):
 print(f"{i*8}",end=" ")
print()
for i in range(1,6):
 print(f"{i*9}",end=" ")
print()
for i in range(1,6):
 print(f"{i*10}",end=" ")

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40
9 18 27 36 45
10 20 30 40 50