In [ ]:
# loops :avoid repeating logic .
# kinds of loops : for , while .
# syntax of for loops :
#                       colon at the end of for statement .
#                       logic with in proper indentation .
#                       used with in : list ,tuple ,set , dictionary , range .
List_Of_number = [10,20,30,40,50]
for number in List_Of_number :
  print(number)

10
20
30
40
50

In [ ]:
listN = [10,20,30,40,50]
for number in listN :
  print(number)
  print("hello")
print("world")
#here the world is printed at last and just once because its not indented in the for loop .

10
hello
20
hello
30
hello
40
hello
50
hello
world

In [ ]:
listN = [10,20,30,40,50]
for number in listN :
  print(number)
  print("hello")
  print("world")
# Here the world is printed in every line because its indented in the for loop.

10
hello
world
20
hello
world
30
hello
world
40
hello
world
50
hello
world

In [1]:
lname = ["shah jahan","Mumtazz","vamika","aridhiya","Raha"]
for names in lname :
  print(names)

shah jahan
Mumtazz
vamika
aridhiya
Raha

In [ ]:
listN = [1,2,3,4,5]
for n in listN :
  if n%2 == 0:
    print(f"{n} is even.")
  else:
    print(f"{n} is odd.")

1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.

In [ ]:
listN = [1,2,3,4,5]
sum = 0
for n in listN :
    sum = sum + n
print(sum)  # to avoid printing the looping value print is written out side the loop.

15

In [ ]:
listN = [1,2,3,4,5]
sum = 0
for n in listN :
  if n%2 == 1:
    sum = sum + n
print(sum)

9

In [ ]:
listN = [1,2,3,4,5]
product = 1
for n in listN :
    product = product * n
print(product)

120

In [ ]:
# Take a input from the user and verify if that number is present in the given list .
listOfNumbers = [1,2,3,4,5]
present = 0
a = int(input("Enter a number"))
for number in listOfNumbers:
  if a == number :
    present != 0
    print("Number Exists:")
if a != number :
    present == 0
    print("Number does not Exists:")

Enter a number5
Number Exists:

In [ ]:
##############################################################################################################
# Range
sum = 0
for i in range(105):
  sum = sum + i
  #print(sum)
print(sum)

5460

In [ ]:
#range
for i in range(5,11):
  print(i)

5
6
7
8
9
10

In [ ]:
# here 5 = starting point , 11 = ending point , 3 = increment of 3
for i in range(5,19,3):
  print(i)

5
8
11
14
17

In [ ]:
for i in range (1,5):
  for j in range(1,11):
    k = i * j
    print(f"{i}*{j}={k}")
  print()

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i+1):
    print("*" , end = " ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
# the above code explanation
n = 4
i = 1
j = i = 1
print("*",end = " ")
j = 2
print("*",end = " ")
j = 3
print("*",end = " ")
print()

i = 2
j = i = 2
print("*",end = " ")
j = 3
print("*",end = " ")
print()

i = 3
j = i = 3
print("*",end = " ")

* * *
* *
*

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i,n): # space is given in decreasing pattern.
   print(" " , end = " ")
  for k in range(i+1): # star are given in increasing pattern.
   print("*", end = " ")
  print()

4
        *
      * *
    * * *
  * * * *

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n): # space is given in decreasing pattern.
   if i == 0 or i == n-1 or j == 0 or j == n-1:
     print("*", end = " ")
   else :
    print(" " , end = " ")
  print()

5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
# fibonachi series
a = 0
b = 1
for i in range(7):
  print(a)
  c = a + b
  a = b
  b = c

0
1
1
2
3
5
8

In [ ]:
#display the sum of all multiples of 13 between 100 and 500
sum = 0
for i in range(100,500):
  if i%13 == 0 :
    sum = sum + i
print(sum)

9269

In [ ]:
# display the count of 'o' in the string 'Odin school'
mystr = "Odin school"
count = 0
for mychar in mystr:
  if mychar == 'o' or mychar == 'O':
    count = count + 1
print(count)

3

In [ ]:
# Display the count of vovels in the string 'odin school'.
mystring = "Odin school"
count = 0
for i in mystring:
  if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" or i == "A" or i == "E" or i == "I" or i == "O" or i == "U" :
   count = count + 1
print(count)

4

In [ ]:
# Take a input from the user and verify if that number is present in the given list .
# Do the operation using <in> operator
listOfNumbers = [1,2,3,4,5]
a = int(input("Enter a number"))
if a in listOfNumbers:    # <in> operator is used, in <if> statement .
    print("Number Exists.")
else :
    print("Number does not Exists.")

Enter a number9
Number does not Exists.

In [ ]:
# Display the count of vovels in the string 'odin school'.
mystring = "Odin school"
vowels = ["a","e","i","o","u","A","E","I","O","U"]
count = 0
for i in mystring:
  if i in vowels:
   count = count + 1
print(count)

4

In [ ]:
# Display the count of vovels in the string 'odin school' with out using <in> operator.
mystring = "Odin school"
vowels = ["a","e","i","o","u","A","E","I","O","U"]
count = 0
for i in mystring:
  for vowel in vowels:
    if i == vowel: # no use of <in> operator
       count = count + 1
print(count)

4

Task 1

Write a Python program that takes a temperature in Celsius as input and converts it to Fahrenheit. If the temperature is above 100°F, print "Very hot," if it's between 80°F and 100°F, print "Hot," and if it's below 80°F, print "Moderate.

In [ ]:
C = int(input())
F = (C *( 9/5)) + 32
if F > 100 :
  print("Very hot")
elif F > 80 and F < 100 :
  print("Hot")
elif F < 80:
  print("Moderate")
else :
  print("Inappropriate input...! ")

45
Very hot

Task 2

Write a Python program to categorize an employee's performance based on their monthly sales. Print "Excellent" for sales over 10,000,"Good"for sales between 5,000 and 10,000,"Average"for sales between 2,000 and 5,000,and "Poor" for sales below 2,000.

In [ ]:
MS = int(input())
if MS > 10000:
  print("Excelllent")
elif MS > 5000 and MS < 10000:
  print("Good")
elif MS >2000 and MS < 5000 :
  print("Employee's performance: Average")
elif MS > 2000:
  print("Poor")
else :
  print("IN appropriate input..!")

3400
Employee's performance: Average

PFC21.1

5.1. V1 - Foundation-W2D1-CT

Task 1

Write a Python program to calculate the sum of all even numbers from 1 to 50 using a for loop.

In [ ]:
sum = 0
for i in range(1,51) :
  if i%2 == 0 :
    sum = sum + i
print(f"The sum of even numbers from 1 to 50 is: {sum} ")

The sum of even numbers from 1 to 50 is: 650

Task 2

Write a Python program to find the factorial of a number using a for loop.

In [ ]:
""" formula for factorial :
              (n)factorial = n! = n * (n-1) * (n-2) * .... * 1
              """
n = int(input())
factorial = 1
for i in range(1,n+1):
  factorial = factorial * i
print(f"The factorial of 5 is: {factorial}")

5
The factorial of 5 is: 120

Task 3

Write a Python program to print a pattern of asterisks using nested for loops.

In [ ]:
for i in range(5):
  print("*")

*
*
*
*
*

In [ ]:
for i in range(5):
  print("*",end = " ") # here fter the end of the line insted of new line space is added .

* * * * *

In [ ]:
# * * *
# * * *
# * * *
for i in range(3):
  print('*', end =' ')
for i in range(3):
  print('*', end =' ')
for i in range(3):
  print('*', end =' ')

* * * * * * * * *

In [ ]:
# * * *
# * * *
# * * *
for i in range(3):
  print('*', end =' ')
print()  # takes the curser to the next line .

for i in range(3):
  print('*', end =' ')
print()

for i in range(3):
  print('*', end =' ')
print()

* * *
* * *
* * *

In [ ]:
# in the above code there is repeatation of the code so there we can write the for loop
for i in range(3):
  for i in range(3):
    print('*',end = ' ')
  print()

* * *
* * *
* * *

THE USE OF NESTED FOR LOOP .

NESTED FOR LOOP :
                 for loop in
                    for loop

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,end = ' ')
  print()

0 0 0
1 1 1
2 2 2

In [ ]:
for i in range(3):
  for j in range(4):
    print(j,end = ' ')
  print()

0 1 2 3
0 1 2 3
0 1 2 3

In [ ]:
for i in range(3):
  for j in range(4):
    print(j+1,end = ' ')
  print()

1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(3):
  for j in range(4):
    print(i+1,end = ' ')
  print()

1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
# the above program logic
i=1
j=1
print(i,end = ' ')
j=2
print(i,end = ' ')
j=3
print(i,end = ' ')
j=4
print(i,end = ' ')
print()

i = 2
j=1
print(i,end = ' ')
j=2
print(i,end = ' ')
j=3
print(i,end = ' ')
j=4
print(i,end = ' ')
print()

i=3
j=1
print(i,end = ' ')
j=2
print(i,end = ' ')
j=3
print(i,end = ' ')
j=4
print(i,end = ' ')
print()

1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
for i in range(1,4):
  for j in range(1,5):
    print(i,end = ' ')
  print()

1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
for i in range(4):
  for j in range(4):
    print(j,end = ' ')
  print()

0 1 2 3
0 1 2 3
0 1 2 3
0 1 2 3

In [ ]:
# the above program logic
i=0
j=0
print(j,end = ' ')
j=2
print(j,end = ' ')
j=3
print(j,end = ' ')
j=4
print(j,end = ' ')
print()

i = 1
j=1
print(j,end = ' ')
j=2
print(j,end = ' ')
j=3
print(j,end = ' ')
j=4
print(j,end = ' ')
print()

i=2
j=1
print(j,end = ' ')
j=2
print(j,end = ' ')
j=3
print(j,end = ' ')
j=4
print(j,end = ' ')
print()

i=3
j=1
print(j,end = ' ')
j=2
print(j,end = ' ')
j=3
print(j,end = ' ')
j=4
print(j,end = ' ')
print()

0 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
# home work task
count = 0
for i in range(4):
  for j in range(4): # For every outer loop inner loop runs for 4 times.
    count = count + 1
    print(count,end = ' ')
  print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
# The above program logic
# 1 2 3 4
# 5 6 7 8
# 9 10 11 12
# 13 14 15 16

i=1
j=1
count = 1           # count = 0 ..(0 + 1) = 1
print(1, end = ' ')            # print(count=1)

j=2
count = 2           # count = 1 ..(1 + 1) = 2
print(2, end = ' ')            # print(count=2)

j=3
count = 3           # count = 2 ..(2 + 1) = 3
print(3, end = ' ')            # print(count=3)

j=4
count = 4           # count = 3 ..(3 + 1) = 4
print(4, end = ' ')            # print(count=4)
print()

i=2
j=1
count = 5           # count = 4 ..(4 + 1) = 5
print(5, end = ' ')            # print(count=5)

j=2
count = 6           # count = 5 ..(5 + 1) = 6
print(6, end = ' ')            # print(count=6)

j=3
count = 7           # count = 6 ..(6 + 1) = 7
print(3, end = ' ')            # print(count=7)

j=4
count = 8           # count = 7 ..(7 + 1) = 8
print(8, end = ' ')            # print(count=8)

1 2 3 4
5 6 3 8

In [ ]:

for i in range(4):
  for j in range(4): # For every outer loop inner loop runs for 4 times.
    if j <= i :
      print(j,end = ' ')
  print()

0
0 1
0 1 2
0 1 2 3

In [ ]:
#Logic of the above program
i = 0
j = 0
print(j,end = ' ')
print()

i = 1
j = 0
print(j,end = ' ')
j = 1
print(j,end = ' ')
print()

i = 2
j = 0
print(j,end = ' ')
j = 1
print(j,end = ' ')
j = 2
print(j,end = ' ')
print()

i = 3
j = 0
print(j,end = ' ')
j = 1
print(j,end = ' ')
j = 2
print(j,end = ' ')
j = 3
print(j,end = ' ')

0
0 1
0 1 2
0 1 2 3

In [ ]:
for i in range(4):
  for j in range(4): # For every outer loop inner loop runs for 4 times.
    if j <= i :
      print(i,end = ' ')
  print()

0
1 1
2 2 2
3 3 3 3

In [ ]:
for i in range(4):
  for j in range(4): # For every outer loop inner loop runs for 4 times.
    if j >= i :
      print(i,end = ' ')
  print()

0 0 0 0
1 1 1
2 2
3

Task 3

Write a Python program to print a pattern of asterisks using nested for loops.

In [ ]:
for i in range(5):
  for j in range(5):
    if j <= i :
      print('*',end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# W.A.P.  to find count of factor of a given number
# 6 = 1,2,3,6.
count = 0
number = int(input("enter a number : "))
for i in range(1,number+1):
  if number%i == 0:
    count = count + 1
    print(i)
print(f"The total number of factors are :{count}")
print(f"Which are :{i}")

enter a number : 6
1
2
3
6
The total number of factors are :4
Which are :6

In [ ]:
# WAP to find out the given number is a prime number or composit number.
count = 0
number = int(input("enter a number : "))
for i in range(1,number+1):             #Range(1,5) so it will give 1-4 number of so if we want till the 5 number we need to write range(1,number+1)
  if number%i == 0:
    count = count + 1
    print(i)
print(f"The total number of factors are :{count}")
if count == 2 :
 print(f"The number {number} is a Prime number.")
else :
 print(f"The number {number} is a Composit number.")

enter a number : 5
1
5
The total number of factors are :2
The number 5 is a Prime number.