**While loops**

In [ ]:
# Week 2 day -- 2 10/12/23
# while  loop
# while loop syntax downbellow:

# WAP to print hello world 5 times

# 1 using for loop
for i in range(5):
  print("hello world")
print("End of for loop")
print()

# WAP to print hello world 5 times
# 2 using while loop
#  initialization
#  while <condition>:
#    loop body
#    increment

i = 0                                                     # initialization of a variable
while i < 5 :                                            # while<condition>:
  print("Hello world")                                    # loop body
  i = i + 1    #if we forget to write this statement then it will go in to infinite loop # increment or decrement
print("End of while the loop")

hello world
hello world
hello world
hello world
hello world
End of for loop

Hello world
Hello world
Hello world
Hello world
Hello world
End of while the loop

In [ ]:
# WAP to keep finding count of factors of a given number from the user .
# Exit the program when the user enters the number -1.

#take an input from the user
#if input = -1 :exit
#else
#find count of factors for the input
#go back to line 4

while True: # true condition use to take the while loop.
  number = int(input("Enter the number to find and count number of factors it has :"))
  if number == -1:
    break    # break statement use to take the program out of the loop.
  else :
    count = 0
    for i in range(1,number+1):             #Range(1,5) so it will give 1-4 number of so if we want till the 5 number we need to write range(1,number+1)
      if number%i == 0:
        count = count + 1
        print(i)
    if count == 2 :
       print(f"The number {number} is a Prime number.")
    else :
        print(f"The number {number} is a Composit number.")

print("End of the program....!")

Enter the number to find and count number of factors it has :21
1
3
7
21
The number 21 is a Composit number.
Enter the number to find and count number of factors it has :3
1
3
The number 3 is a Prime number.
Enter the number to find and count number of factors it has :-1
End of the program....!

In [ ]:
# another way of the above problem
number = int(input())
while number != -1:
  count = 0
  for i in range(1,number+1):
    if number%i == 0:
      count = count + 1
  print(count)
  number = int(input()) # with out this condition program will go in to infinite loop.
print("Program ends.")

5
2
-1
Program ends.

In [ ]:
# another way of the above problem
j = 0
while j == 0: # true condition use to take the while loop.
  number = int(input("Enter the number to find and count number of factors it has :"))
  if number == -1:
    break    # break statement use to take the program out of the loop.
  else :
    count = 0
    for i in range(1,number+1):             #Range(1,5) so it will give 1-4 number of so if we want till the 5 number we need to write range(1,number+1)
      if number%i == 0:
        count = count + 1
        print(i)
    if count == 2 :
       print(f"The number {number} is a Prime number.")
    else :
        print(f"The number {number} is a Composit number.")

print("End of the program....!")

Enter the number to find and count number of factors it has :52
1
2
4
13
26
52
The number 52 is a Composit number.
Enter the number to find and count number of factors it has :-1
End of the program....!

LIST

In [ ]:
# LISTS
NUMBERLIST = [1,2,3,4,5,6,7,8,9,10]
print(type(NUMBERLIST))

# Indexing in the list.
print(NUMBERLIST[8])

#length of the list.
print(len(NUMBERLIST))


# useing a for loop .
for number in NUMBERLIST:
  print(number,end =' ')
print()

# useing a while loop .
i = 1
while i <=  len(NUMBERLIST):
  print(i, end = ' ')
  i = i + 1

<class 'list'>
9
10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
nlist =[10,20,30,40,50,60,70,80,90,100]
      #[0 , 1 ,2 ,3 ,4, 5 ,6 ,7 ,8 , 9]--index of the above list .
#Sliceing of the list
print(nlist[:]) #               [   starting of the list    :     Ending of the list  ]
print(nlist[2:6]) # -- from index <2> till index <6>
print(nlist[:4])
print(nlist[3:])
print()

# to print the last element of the list
print(f"The last element of the list {nlist[len(nlist)-1]}")
print()

#nlist =[10,20,30,40,50,60,70,80,90,100]
      # [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]--index of the above list in alternative way.
#indexing in alternative way.
print(nlist[-1])
print(nlist[-3])
print(nlist[-10])
print(nlist[-8])
print(nlist[-8:-3]) #here write from the negative way like -3 is greater then -8 so [-8:-3]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[30, 40, 50, 60]
[10, 20, 30, 40]
[40, 50, 60, 70, 80, 90, 100]

The last element of the list 100

100
80
10
30
[30, 40, 50, 60, 70]

In [ ]:
# Two ways to add number to the list
# Insert , append
# append
nlist =[10,20,30,40,50,60,70,80,90]
print(nlist)
nlist.append(100)
print(f"append ---  {nlist}")
print()

# Insert
nlist.insert(3,25) # here 3 is the index value and 25 is the number to insrt
print(f"Insert ---  {nlist}")
print()

# extend --- used to add a new list to the existing list .
newlist = [15,35,45,55,65]
nlist.extend(newlist)
print(f"extend ---  {nlist}")
print()

# Remove --- used to remove a value of the list from the list.
nlist.remove(55)
print(f"remove ---  {nlist}")
print()

# pop --- used to remove the value of the POSITION or say INDEX of the list.
nlist.pop(0)
print(f"pop ---  {nlist}")
print()

# clear --- remove all the elements of the list
print(f"newlist --- {newlist}")
newlist.clear()
print(f"newlist --- {newlist}")
print()
# here the list will be existing but its value want be existing.

[10, 20, 30, 40, 50, 60, 70, 80, 90]
append ---  [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Insert ---  [10, 20, 30, 25, 40, 50, 60, 70, 80, 90, 100]

extend ---  [10, 20, 30, 25, 40, 50, 60, 70, 80, 90, 100, 15, 35, 45, 55, 65]

remove ---  [10, 20, 30, 25, 40, 50, 60, 70, 80, 90, 100, 15, 35, 45, 65]

pop ---  [20, 30, 25, 40, 50, 60, 70, 80, 90, 100, 15, 35, 45, 65]

newlist --- [15, 35, 45, 55, 65]
newlist --- []

In [ ]:
# Add two list with out using extend function
list1 = [10,20,30,40]
print(list1)
list2 = [50,60,70,80]
print(list2)
sumlist = list1 + list2
print(sumlist)
print()

# Do not use any variable other than list1 and list2
list1 = list1 + list2
print(f"list1 --- {list1}")

[10, 20, 30, 40]
[50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]

list1 --- [10, 20, 30, 40, 50, 60, 70, 80]

---------------------------------STRINGS--------------------------

In [ ]:
#string
# all slicing function can work
string1 = "Modi is a very good School" # here space is also consider as string .
print(string1)
print(string1[:]) #               [   starting of the string    :     Ending of the string  ]
print(string1[2:6]) # -- from index <2> till index <6>
print(string1[:4])
print(string1[3:])
print()
print(len(string1))# gives the length of the string.
print(string1.upper())
print(string1.lower())
print()

# wap to count number of words in a given sentence.
string = "hello world"
count = 1
for h in string:
  if h == " ":
    count = count + 1
print(f"strin word count {count}")

#  --- Split --- function in string .
string2 = "hello world am an roobo 502."
string3 = string2.split(" ")
print(f"split by space --- {string3}")
print(f"words in the string3 ---- {(len(string3))}")
print()
print(string2.replace("am","I am"))

Modi is a very good School
Modi is a very good School
di i
Modi
i is a very good School

26
MODI IS A VERY GOOD SCHOOL
modi is a very good school

strin word count 2
split by space --- ['hello', 'world', 'am', 'an', 'roobo', '502.']
words in the string3 ---- 6

hello world I am an roobo 502.

# Nested while loop .

In [ ]:
#nested while loop
a = 1
while a < 5 :
  print("outer loop")
  b = 1
  while b < 3 :
    print("inner loop")
    b = b + 1
  a = a + 1

outer loop
inner loop
inner loop
outer loop
inner loop
inner loop
outer loop
inner loop
inner loop
outer loop
inner loop
inner loop

In [ ]:
# wap to print 1 , 2, 3 ,4 tables using while loop (table like (1 * 1 = 1))
a = 1
while a < 5 :
  b = 1
  while b < 11 :
    c = a * b
    print(f"{a}*{b}={c}")
    b = b + 1
  print()
  a = a + 1

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [ ]:
# fibonachi series
a = 0
b = 1
i = 1
while i < 7 :
  print(a)
  c = a + b
  a = b
  b = c
  i = i + 1 # <i> is index value .

0
1
1
2
3
5

In [ ]:
# sum of the febonachi series
a = 0
b = 1
i = 1
sum = 0
count = sum
while i < 7 :
  sum = sum + a
  c = a + b
  a = b
  b = c
  count = count + 1
  i = i + 1 # <i> is index value .
print(sum)

12

--------------------- Break key word ---------------------

In [ ]:
a = 1
while True:
  if a == 4 :
    break     #<break> is used to stop the infinite while loop .
  print(a)
  a = a + 1

1
2
3

---------------------- continue ----------------------

In [ ]:
for i in range(1,5):
  if i == 2 :
    continue
  print(i)
print()
  # printing value except 2.

for j in range(1,11):
 if j == 8:
  break
 print(j)
 # stop printing after 7

1
3
4

1
2
3
4
5
6
7

========= tuple ==========

In [ ]:
# Tuple
a = ("hellen" , "is" , 1 , "of ", 2)
print(type(a))
print("list can not be modified ")
print(a)
print()

# List
b = ["hellen" , "is" , 1 , "of ", 2]
print(type(b))
print("list can be modified ")
print(b)
print()

# enumerate function in list
abc=[ 100,200,300,400]
for i in enumerate(abc):
  print(i)
print()

list(enumerate(abc))
#(0, 100) =  <indexnumber  , value of that index >
#(1, 200)
#(2, 300)
#(3, 400)

<class 'tuple'>
list can not be modified
('hellen', 'is', 1, 'of ', 2)

<class 'list'>
list can be modified
['hellen', 'is', 1, 'of ', 2]

(0, 100)
(1, 200)
(2, 300)
(3, 400)

[(0, 100), (1, 200), (2, 300), (3, 400)]

In [ ]:
## Zip founction in list
a = [5,55,66]
b = [22,44,12]
# remove <#> from which ever function u want to see the output
#zip(a,b)
#list(zip(a,b))
#enumerate(a)
list(enumerate(a))

[(0, 5), (1, 55), (2, 66)]

In [ ]:
# update tuple ? == NO
# workaround : convert to list , update , Conver back to tuple

t2 = (1,2,3,4,5,6,7,8)
t3 = list(t2)
print(type(t2))
print(type(t3))
print(t3)
t3.append(99)
print(t3)
t4 = tuple(t3)
print(t4)

<class 'tuple'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 99]
(1, 2, 3, 4, 5, 6, 7, 8, 99)